CLPUserNetworkSistem/.vs/CLPUserNetworkSistem/FileContentIndex/9f62c715-016b-468d-a125-3b0593ea400e.vsidx
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.log
*.ilk
*.obj
*.tmp
*.swp
*.o
*.pyc
*.pyo
*.bak
*~
*.stackdump
[Tt]humbs.db
*.DS_Store
*.sln.cache
*.suo
*.user
*.vshost.*
*.resharper
app.config
web.config
*.config
*.config.user
*.password
*.secret
*.key
*.pem
*.cer
*.pfx
*.p12
*.asc
*.jks
*.bks
packages/*
*.nupkg
*.vsidx
*.lock
*.v2
*.2
CLPUserNetworkSistem/CLPUserNetworkSistem.Application/bin/Debug/net7.0/CLPUserNetworkSistem.Application.deps.json
CLPUserNetworkSistem/CLPUserNetworkSistem.Application/obj/CLPUserNetworkSistem.Application.csproj.nuget.dgspec.json
*.props
*.targets
CLPUserNetworkSistem/CLPUserNetworkSistem.Application/obj/Debug/net7.0/_IsIncrementalBuild
*.txt
*.editorconfig
CLPUserNetworkSistem/CLPUserNetworkSistem.Application/obj/project.assets.json
CLPUserNetworkSistem/CLPUserNetworkSistem.Database/obj/CLPUserNetworkSistem.Database.csproj.nuget.dgspec.json
CLPUserNetworkSistem/CLPUserNetworkSistem.Database/obj/project.assets.json
CLPUserNetworkSistem/CLPUserNetworkSistem.Domain/bin/Debug/net7.0/CLPUserNetworkSistem.Domain.deps.json
*.json
CLPUserNetworkSistem/CLPUserNetworkSistem.Domain/obj/Debug/net7.0/_IsIncrementalBuild
CLPUserNetworkSistem/CLPUserNetworkSistem.IoC/obj/Debug/net7.0/_IsIncrementalBuild
CLPUserNetworkSistem/CLPUserNetworkSistem/obj/Debug/net7.0-windows/_IsIncrementalBuild
CLPUserNetworkSistem/CLPUserNetworkSistem.Application/obj/Debug/net7.0/CLPUserNetworkSistem.Application.AssemblyInfo.cs
CLPUserNetworkSistem/CLPUserNetworkSistem.Database/obj/Debug/net7.0/CLPUserNetworkSistem.Database.AssemblyInfo.cs
CLPUserNetworkSistem/CLPUserNetworkSistem.Domain/obj/Debug/net7.0/CLPUserNetworkSistem.Domain.AssemblyInfo.cs
CLPUserNetworkSistem/CLPUserNetworkSistem.IoC/obj/Debug/net7.0/CLPUserNetworkSistem.IoC.AssemblyInfo.cs
CLPUserNetworkSistem/CLPUserNetworkSistem/obj/Debug/net7.0-windows/CLPUserNetworkSistem.AssemblyInfo.cs
